/* Main styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #ffea00;
  color: #4b1362;
}

html {
  font-size: 62.5%;
  /* text font */
}

body {
  background-color: #4b1362;
}

/* Containers */

/* Main container */

#main-container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  overflow-x: hidden;
}

/* Selection container */

#selection-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#selection-container > h1 {
  font-family: "Dangrek", cursive;
  line-height: 4.5rem;
  color: white;
  text-align: center;
  font-size: clamp(5.4rem, 10vw, 6rem);
}

#character-container {
  display: flex;
  justify-content: left;
  gap: 3rem;
  padding: 1rem;
  width: 78%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

#character-container::-webkit-scrollbar {
  display: none;
}

.character-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.character-button > img {
  width: clamp(18rem, 30vw, 24rem);
}

.character-button > span {
  color: white;
  font-family: "Lacquer", cursive;
  font-size: clamp(3.5rem, 10vw, 4rem);
}

#select-character {
  font-family: "Dangrek", cursive;
  font-size: clamp(3.5rem, 8vw, 4rem);
  border: none;
  border-radius: 2rem;
  padding: 0 2rem;
  color: #4b1362;
  background-color: white;
  cursor: pointer;
}

#select-character:hover {
  box-shadow: 0 0 2rem #ffea00;
}

/* Map container */

#map-container {
  width: 100%;
  height: 100%;
  display: none;
  grid-template-areas:
    "header header"
    "map buttons";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 3fr;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

#map-container > h1 {
  font-family: "Dangrek", cursive;
  line-height: 4.5rem;
  color: white;
  text-align: center;
  font-size: clamp(5.4rem, 10vw, 6rem);
  grid-area: header;
}

#map {
  grid-area: map;
  border: 0.4rem solid white;
}

#arrow-buttons {
  width: 100%;
  height: 100%;
  grid-area: buttons;
  display: grid;
  grid-template-areas:
    "up up"
    "left right"
    "down down";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.arrow-button {
  width: 6rem;
  cursor: pointer;
}

#arrow-up {
  grid-area: up;
  align-self: flex-end;
}

#arrow-left {
  grid-area: left;
}

#arrow-down {
  grid-area: down;
  align-self: flex-start;
}

#arrow-right {
  grid-area: right;
}

.arrow-button:hover {
  background-color: #ffffff2b;
}

.arrow-button:active {
  background-color: #ffea0060;
}

/* Media query */

@media (max-width: 840px) {
  #character-container {
    width: 100%;
  }
}

@media (max-width: 700px) {
  #map-container {
    grid-template-areas:
      "header"
      "map"
      "buttons";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 3fr;
  }

  #arrow-buttons {
    row-gap: 1rem;
  }
}
